body{
    /* height: 100vh !important; */
    width: 100%;
    height: 100%;
    background: url(../image/body_img.jpg);

}

main {
    /* max-width: 1920px; */
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    
    .swiper {
        position: relative;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 40px !important;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        box-sizing: border-box;
        height: 91vh !important;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .swiper-slide {
    
        .inner {
            background-color: #fff;
            margin: 40px;
            border-radius: 40px;
            display: flex;
            /* overflow: hidden; */
            /* justify-content: space-between; */
    
            .logo {
                display: inline-block;
                min-width: 100px;
                margin: 40px 0 0 40px;
    
                img {
                    display: inline-block;
                    object-fit: cover;
                    width: 100px;
                    height: 100px;
                }
            }
            .desc {
                margin: 40px;
                line-height: 1.25;
                
                .textbox{
                    margin-bottom: 40px;
    
                    h2 {
                        margin-bottom: 20px;
                        font-size: 2.25em;
                    }
                    h3 {
                        margin-bottom: 40px;
                    }
                    .detail{
                        
                        p{
                            font-size: 1.125em;
                            line-height: 1.25;
                            margin-bottom: 10px;
                        }
                    }
                }
                span{
                    display: flex;
                    gap: 20px;

                    a{
                        display: inline-block;
                        align-items: center;
                        font-size: 1.125em;
                        border: 1px solid #222;
                        padding: 10px 20px;
                        border-radius: 25px;
                        font-weight: 400;
                        white-space: nowrap;
                        
                        i{
                            font-size: 0.875em;
                            margin-left: 5px;
    
                            
                        }
    
                        &:hover{
                            background-color: #222;
                            color: #fff;
    
                            & i{
                            color: #fff !important;
                            }
                        }
    
    
                    }
    
                }
    
            }
            .img_box{
                border-radius: 40px;
                overflow: hidden;
                margin: 20px;
                /* min-width: 10%; */
                /* max-width: 50%; */
                max-width: 420px;
                /* min-width: 420px; */
                height: auto;
                /* height: auto; */
                
    
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    display: block;
                    transition: all 0.5 ease;

                }
            }
        }
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-pagination{
        /* position: absolute !important; */
        position: relative;
        bottom: 40px !important;
        transform: translate(0%);
        /* left: 500%; */
    }
    .swiper-pagination-bullets {
        display: flex;
        justify-content: center;
        align-items: end;
        border: 2px solid #fff;
        padding: 20px;
        margin: 0 auto;
        /* box-sizing: border-box; */
        height: 50px;
        width: 280px !important;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.25);
        /* align-items: center; */
    }
    .swiper-pagination-bullet {
        width: 50px !important;
        height: 50px !important;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #fff;
        opacity: 1;
        z-index: 10;
        background: rgba(0, 0, 0, 0.7);
        background-color: transparent;
        transition: transform 0.25s ease;
        /* padding-inline: ; */

        box-sizing: border-box;

        &:hover{
            transform: translateY(-25%);

        }
    }
    
    .swiper-pagination-bullet-active {
        /* color: #fff; */
        /* background: #007aff; */
        width: 100px !important;
        height: 100px !important;
        border-radius: 10px;
        /* margin: 0 10px !important; */
        /* margin-inline: 10px !important; */
        /* box-sizing: border-box; */

        &:hover{
            transform: translateY(0);

        }
    }
    
}
@media screen and (max-width: 1279px){

}
