body {
    /* height: 100vh !important; */
    width: 100%;
    height: 100%;
    background: url("../image/body_img.png") no-repeat center center / cover;
    /* background-color: #007aff; */
}

main {
    max-width: 769px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;

    .swiper {
        position: relative;
        /* background-color: rgba(255, 255, 255, 0.5); */
        margin: 40px !important;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* height: 100%; */
        box-sizing: border-box;
        height: 91vh !important;
        box-sizing: border-box;
        overflow: hidden;
        
    }

    .swiper-slide {

        .inner {
            background-color: rgba(255, 255, 255, 0.85);
            margin: 40px;
            padding: 40px;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            /* overflow: hidden; */
            justify-content: space-between;

            .logo {
                display: inline-block;
                min-width: 60px;
                /* margin: 40px 0 0 40px; */

                img {
                    display: inline-block;
                    object-fit: cover;
                    width: 60px;
                    height: 60px;
                }
            }
            .desc {
                margin-left:40px;
                line-height: 1.25;
                flex-grow: 1;

                .textbox {
                    /* margin-bottom: 40px; */
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    h2 {
                        margin-bottom: 20px;
                        font-size: 2.25em;
                    }
                    h3 {
                        margin-bottom: 40px;
                    }
                    .detail {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex-grow: 1;

                        p {
                            font-size: 1.125em;
                            line-height: 1.25;
                            margin-bottom: 10px;
                        }
                    }
                    span {
                        display: flex;
                        gap: 20px;
                        margin-bottom: 10px;
                        white-space: nowrap;

                        &:last-of-type, &:last-of-type p{
                            margin-bottom: 0;
                        }

                        h4 {
                            width: 80px;
                            font-weight: 700;
                        }
                        .lang {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            .tool {
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                /* line-height: 1; */

                                em {
                                    line-height: 1.5;
                                    border: 1px solid #000;
                                    padding-inline: 10px;
                                    border-radius: 5px;
                                    font-weight: 300;

                                    &:nth-of-type(1){
                                        color: #222;
                                        /* background-color: #eee; */
                                    }
                                    &:nth-of-type(2){
                                        color: #222;
                                        /* background-color: #eee; */
                                    }
                                }
                            }
                        }

                    }
                }
                .btn {
                    gap: 20px;
                    display: flex;
                    margin-top: 40px;
                    justify-content: space-between;
                    a {
                        display: inline-block;
                        align-items: center;
                        font-size: 1.125em;
                        border: 1px solid #007bff;
                        padding: 10px 20px;
                        border-radius: 10px;
                        font-weight: 400;
                        white-space: nowrap;
                        color: #007bff;

                        i {
                            font-size: 0.875em;
                            margin-left: 5px;
                            color: #007bff !important;

                        }

                        &:hover {
                            background-color: #007bff;
                            color: #fff;

                            & i {
                                color: #fff !important;
                            }
                        }

                    }
                }

            }
            .img_box {
                overflow: hidden;
                /* padding: 40px; */
                flex-grow: 1;
                justify-content: space-between;
                /* min-width: 10%; */
                /* max-width: 50%; */
                max-width: 420px;
                /* min-width: 420px; */
                height: auto;
                display: flex;
                flex-direction: column;
                /* height: auto; */

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    display: block;
                    /* transition: all 0.5 ease; */
                border-radius: 20px;


                }
                /* .btn {

                    gap: 20px;
                    display: flex;
                    margin-top: 20px;
                    box-sizing: border-box;
                    a {
                        display: inline-block;
                        align-items: center;
                        font-size: 1.125em;
                        border: 1px solid #007bff;
                        padding: 10px 20px;
                        border-radius: 10px;
                        font-weight: 400;
                        white-space: nowrap;
                        color: #007bff;

                        i {
                            font-size: 0.875em;
                            margin-left: 5px;
                            color: #007bff !important;

                        }

                        &:hover {
                            background-color: #007bff;
                            color: #fff;

                            & i {
                                color: #fff !important;
                            }
                        }

                    }
                } */
            }
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-pagination {
        /* position: absolute !important; */
        position: relative;
        /* bottom: 60px !important; */
        /* transform: translate(0%); */
        /* left: 500%; */
    }
    .swiper-pagination-bullets {
        display: flex;
        justify-content: center;
        align-items: end;
        border: 2px solid #fff;
        padding: 20px;
        margin: 0 auto;
        /* box-sizing: border-box; */
        height: 50px;
        width: 280px !important;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.25);
        /* align-items: center; */
    }
    .swiper-pagination-bullet {
        width: 50px !important;
        height: 50px !important;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #fff;
        opacity: 1;
        z-index: 10;
        background: rgba(0, 0, 0, 0.7);
        background-color: transparent;
        transition: transform 0.25s ease;
        /* padding-inline: ; */

        box-sizing: border-box;

        &:hover {
            transform: translateY(-25%);

        }
    }

    .swiper-pagination-bullet-active {
        /* color: #fff; */
        /* background: #007aff; */
        width: 100px !important;
        height: 100px !important;
        border-radius: 10px;
        /* margin: 0 10px !important; */
        /* margin-inline: 10px !important; */
        /* box-sizing: border-box; */

        &:hover {
            transform: translateY(0);

        }
    }

}
#mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    main {
        display: none;
    }
    #mobile {
        display: flex;
        /* align-items: center; */
        padding: 20px;
        height: 100vh;
        box-sizing: border-box;

        .inner {
            background-color: #fff;
            border-radius: 20px;

            /* margin: 0 auto; */
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: start;

            .thum {
                width: 100%;
                display: flex;
                margin: 0 auto;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 20px;
                padding: 20px 20px 0;
                box-sizing: border-box;
                /* flex-grow: 1; */
                justify-content: start;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;

                }
            }
            .desc {
                color: #222;
                line-height: 1.25;
                margin-bottom: 15px;
                text-align: left;
                margin-left: 20px;

                h2 {
                    margin-top: 10px;
                    font-size: 1.75em;
                    font-weight: 700;
                }
                h3 {
                    font-size: 1.5em;
                    font-weight: 500;
                    margin-bottom: 10px;
                    margin-bottom: 15px;

                }
                p {
                    font-size: 1em;
                    font-weight: 200;
                    margin-bottom: 15px;

                }
                em {
                    font-size: 1em;
                }
            }
            .work {

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    li {
                        /* width: 100px; */

                        a {
                            width: 180px;
                            color: #007bff;
                            font-size: 1em;
                            display: inline-block;
                            box-sizing: border-box;
                            line-height: 40px;
                            border: 1px solid #007bff;
                            /* padding: 1.5vw 4vw; */
                            border-radius: 5px;

                            &:hover {
                                background-color: #007bff;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
