@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd, title, article, main, aside {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #444;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: middle;
	border: none;
}
body {
	font-family: "Pretendard", sans-serif;
	line-height: 1.5;
	color: #222;
}